# Librerías necesarias para el análisis y visualización de datos
matplotlib
numpy

# Librerías necesarias para el web scraping (league_scraping.py)
selenium
beautifulsoup4

# Recuerda usar 'pip install -r requirements.txt' para instalarlas
